<header>
    <div class="container">
        <nav role="navigation" id="header-nav" class="navigation">
            <ul class="menu">
                <li><a href="/#/home">Home</a></li>
                <li><a href="/#/engines">Engines</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Mods</a>
                    <ul class="sub-menu">
                        <li ng-repeat="mod in mods">
                            <a href="/#/" ng-bind-html="mod.name"></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <main ui-view="main-tab"></main>
</div>
